*.iml
.gradle
/local.properties
/.idea/
.DS_Store
build/
app/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof

# Keystore / Signing Files
*.jks
*.keystore
/release/
